<!DOCTYPE html>
<html>
<head>
    <title>Impressions Predictor</title>
    <style>
        div.container {
            width: 50%;
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Impressions Predictor</h2>
    <form method="post" action="{{ url_for('predict') }}">
        <label for="campaign_type">Campaign Type:</label>
        <select name="campaign_type" id="campaign_type">
            <option value="0">PERFORMANCEMAX</option>
            <option value="1">SEARCH</option>
            <option value="2">VIDEO</option>
            <option value="3">DISPLAY</option>
        </select><br><br>

        <label for="media_type">Media Type:</label>
        <select name="media_type" id="media_type">
            <option value="0">Social</option>
            <option value="1">Unknown</option>
            <option value="2">Search</option>
            <option value="3">Display</option>
        </select><br><br>

        <label for="traffic_source">Traffic Source:</label>
        <select name="traffic_source" id="traffic_source">
            <option value="0">Facebook</option>
            <option value="1">Google</option>
        </select><br><br>

        <label for="cost">Cost (ZAR):</label>
        <input type="text" name="cost" id="cost"><br><br>

        <div style="text-align: center;">
            <input type="submit" value="Predict">
        </div>
    </form>
</div>
</body>
</html>
